# Logs
logs
*.log

# Runtime data
*.pid
*.pid.lock

# Coverage directory
coverage

# Dependency directories
node_modules/

# Environment variables
.env
.env.test
.env.production

# Mac files
.DS_Store

# VS Code
.vscode

# Build output
dist/
public/

# Project specific
output.css
.cursorrules
.cursor