@import"https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

:root {
    --primary-background-color: #151519;
    --secondary-background-color: #19191d;
    --tertiary-background-color: #1c1c21;
    --fff-background-color: #222228;
    --text-color: #e4e4e4;
}

a { 
    all: unset;
    cursor: pointer;
}

html {
    background-color: var(--primary-background-color);
    font-family: Inter;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    height: 8px;
    width: 8px
}

html ::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background-color);
}

html ::-webkit-scrollbar-track {
    background-color: var(--primary-background-color);
}

.tippy-box[data-theme~=ws] {
    color: var(--text-color);
    background: var(--secondary-background-color);
    border: 1px solid var(--fff-background-color)
}

.header {
    font-weight: 600;
    padding-top: 175px;
    padding-left: 20%;
    padding-bottom: 20px;
}

.color-text {
    background-image: linear-gradient(to right, #00b47e, #00a2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}
.color-text:hover {
    transition: 0.3s;
    background-image: linear-gradient(to right, #00a2ff, #00b47e);
}

.custom-button {
  margin-right: 0.6rem;
  max-height: 1.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.custom-button:last-child {
  margin-right: 0;
}

.custom-button:hover {
  transform: scale(1.05);
  background-color: #333;
}


.discord-status {
    padding-bottom: 7.5px;
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
}

.spotify-song {
    padding-bottom: 7.5px;
    font-weight: normal;
    color: var(--text-color);
    opacity: .8;
}

/* .greetings {
    font-size: 75px;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom: 3.25px;
} */

/* .about-me {
    font-weight: 300;
    color: var(--text-color);
    opacity: .8;
    max-width: 525px;
} */


.social-card {
    width: 25px;
    height: 25px;
    transition: 0.3s;
    margin-right: 5px;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--fff-background-color);
    color: var(--text-color);
}

.social-card:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--tertiary-background-color);
}

.svg {
    width: 25px;
    height: 25px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.tech-card-display {
    float: left;
}

.socials {
    padding-bottom:10%;
    padding-left: 20%;
    display: inline-block;
}
.timeline {
  list-style: none;
}
.timeline-date {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6fc173;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.timeline-content {
  font-size: 1rem;
  font-weight: 300;
  color: #e5e5d1;
  line-height: 1.5;
}
.timeline-content:hover {
    color: #6fc173;
    transition: 0.5s ease-in-out;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
.skills {
  width: 80%;
  max-width: 960px;
  height: 780px;
  height: 788px;
  margin: auto;
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}
.line.l--0 {
  left: 0;
}
.line.l--25 {
  left: 25%;
}
.line.l--50 {
  left: 50%;
}
.line.l--75 {
  left: 75%;
}
.line.l--100 {
  left: calc(100% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
}
.line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.chart:not(:first-child) {
  margin-top: 10px;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--prod .chart__title {
  animation-delay: 3.3s;
}
.chart--design .chart__title {
  animation-delay: 4.5s;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #1F8A70, #6FAD44);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  animation: 1s anim-lightspeed-in ease forwards;
}
.chart--dev .chart__bar:nth-of-type(11) {
  animation-delay: 2.7s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  animation-delay: 2.5s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  animation-delay: 2.3s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  animation-delay: 2.1s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  animation-delay: 1.9s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  animation-delay: 1.7s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  animation-delay: 0.7s;
}
.chart--prod .chart__bar:nth-of-type(2) {
  animation-delay: 4.2s;
}
.chart--prod .chart__bar:nth-of-type(1) {
  animation-delay: 4s;
}
.chart--design .chart__bar:nth-of-type(4) {
  animation-delay: 5.8s;
}
.chart--design .chart__bar:nth-of-type(3) {
  animation-delay: 5.6s;
}
.chart--design .chart__bar:nth-of-type(2) {
  animation-delay: 5.4s;
}
.chart--design .chart__bar:nth-of-type(1) {
  animation-delay: 5.2s;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: #E0E0E0;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}






